body {
    background-color: #F54224;
    font-family: 'Tajawal', sans-serif !important;

}

.nav-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.authors-container {
    border-radius: 30px;
    background-color: #f3eac8;
}

.text-foot div {
    color: #F54224;
    font-size: 30px;
    font-weight: bold;
}

.text-foot h2 {
    color: #F54224;
    font-size: 35px;
    font-weight: bold;
}

.text-foot p {
    color: #F54224;
    font-size: 31px;
    line-height: 39px;
}

@media (max-width:477px) {
    .text-foot p {
        font-size: 27px;
        margin-bottom: 38px;
    }
}

.text-des {
    display: flex;
    align-items: end;
    margin-top: 22px;
    color: #0B090A;
    font-size: 26px;
    flex-direction: column;

}

.text-dess {
    display: flex;
    align-items: end;
    margin-top: -15px;
    color: #0B090A;
    font-size: 26px;
    flex-direction: column;
}

@media (max-width:477px) {
    .text-des {
        font-size: 13px;
        font-weight: 500;
    }

    .med {
        font-size: 25px;
    }

    .text-dess {
        font-size: 16px;
        font-weight: 500;
    }

    .text-dess .div {
        font-size: 25px;
        font-weight: 500;
    }

    .img-des img {
        width: 25% !important;
        margin-top: 79px;
    }

    .gomaps img {
        width: 13% !important;
    }
}

.img-des img {
    width: 13%;
    margin-top: 79px
}

.gomaps {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: end;
    margin-top: 10px;
    cursor: pointer;
}

.gomaps p {
    font-size: 20px;
    font-weight: 500;
}

.gomaps img {
    width: 6%;
}

/* routing styling */
.routing-container {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: ltr !important;
    font-size: 20px;
    font-weight: 600;
}

.img-routing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}

.home-routing-container {
    padding: 5px 10px;
    background-color: #F54224;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}